#div-rowbuttons{
    width: 75%;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow-x: auto;
}

/* ===== RESPONSIVO (MOBILE) ===== */
@media (max-width: 768px) {

   #div-rowbuttons{
        width: 90% !important;
    }

}